@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.ant-transfer-list {
  width: 350px !important;
}

.ant-transfer-list-content-show-remove input {
  pointer-events: none; /* Deshabilita la interacción */
  opacity: 0.5
}

.ant-transfer .ant-transfer-list {
  height: 450px !important;
  width: 35vw !important;
}